body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}
main {
  display: flex;
  justify-content: space-around;
  width: 78%;
  height: 70%;
  background: #000000;
  align-items: center;
  /*     margin-top:10px; */
}
main > div:first-child {
  display: flex;
  height: 40px;
  width: 20px;
  background: #ffffff;
  transform: translateX(-10px) translateY(-20px);
  z-index: 0;
}
main > div:nth-child(2) {
  height: 49px;
  width: 20px;
  background: #ffffff;
  transform: translateX(0px) translateY(17px);
  z-index: 0;
}
main > div:nth-child(3) {
  height: 80px;
  width: 20px;
  background: #ffffff;
  transform: translateX(10px);
  z-index: 0;
}
main > div:nth-child(4) {
  position: absolute;
  height: 21px;
  width: 300px;
  background: #af067c;
  border-radius: 10px;
  z-index: 2;
  transform: translateY(-3.1rem);
}

main > div:nth-child(5) {
  height: 20px;
  width: 300px;

  position: absolute;
  border-radius: 10px;

  background: #af067c;
  z-index: 2;
  transform: rotate(176deg) translateY(0px);
}
main > div:nth-child(6) {
  position: absolute;
  height: 20px;
  width: 300px;
  border-radius: 10px;
  background: #af067c;
  transform: translateY(3.12rem);
  z-index: 6;
}
